.swiper-repair
    border-bottom: 1px solid $light-blue-color
    &__container
        height: 228px !important
    &__wrapper
        height: 160px !important
    &__slide
        width: 240px
        height: 160px !important
        padding: 0
        display: block !important
        p
            font-family: 'TT Lakes'
            font-weight: 500
            font-size: 16px
            line-height: 24px
            letter-spacing: -0.2px
            color: $black-grey-color
            margin: 16px 0 64px 0
        button
            margin-left: 168px